body{
  line-height: 2.5;
  text-align: center;
  font-family: Splash, cursive;
}
div p{
  font-size: 25px;
  color: red;
}


div:nth-of-type(3) p{
  background:blue;
  color: white;
  font-size: 2.0em;
  text-decoration: underline;
}


div:nth-of-type(3) p:nth-of-type(2){
  border: 5px solid red;
  font-weight: 900;
  text-decoration: overline;
}


div:nth-of-type(2) em{
  font-size: 30px;
  color: white;
  background: green;
  text-decoration: line-through;
}

h1{
  font-family: impact;
  font-size: 40px;
}
